 {{#section 'js'}}
<script type="text/javascript">
    var validate = function () {
        if ($('#ssn').val().length !=10){
            alert('Mã định danh không hợp lệ');
            return false;
        }
        if ($('#lname').val().length === 0){
            alert('Vui lòng nhập đầy đủ họ và tên');
            return false;
        }
        if ($('#mname').val().length === 0) {
            alert('Vui lòng nhập đầy đủ họ và tên');
            return false;
        }
        if ($('#fname').val().length === 0) {
            alert('Vui lòng nhập đầy đủ họ và tên');
            return false;
        }
        if ($('#addr').val().length ===0){
            alert('Vui lòng nhập địa chỉ liên lạc');
            return false;
        }
        if ($('#phone').val().length ===0){
            alert('Vui lòng nhập số điện thoại liên lạc');
            return false;
        }
        if ($('#mail').val().length ===0){
            alert('Vui lòng nhập email');
            return false;
        }
        if ($('#pass').val().length ===0){
            alert('Vui lòng nhập mật khẩu ');
            return false;
        }
        if ($('#makho').val().length ===0){
            alert('Vui lòng nhập mật khẩu ');
            return false;
        }
        return true;
    }
</script> 

{{/section}} 
{{#if showError}}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error!</strong> {{errorMsg}}
</div>
{{/if}} {{#if Success}}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Success!</strong> {{Msg}}
</div>
{{/if}}


<div class="login" >
        <form action="" method="POST" role="form" onsubmit="return validate();">
            <div class="mod-login" >
                <div class"row">
                <div class="mod-login-col1" style="width: 300px;">
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>SSN</label>
                        <input id="ssn" maxlength="10" type="text" placeholder="Mã định danh" data-meta="Field" name="ssn">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>First name</label>
                        <input id="fname" type="text" placeholder="Tên" data-meta="Field" name="fname">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Midle name</label>
                        <input id="miname" type="text" placeholder="Tên lót" data-meta="Field" name="mname">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Last name</label>
                        <input id="lname" type="text" placeholder="Họ" data-meta="Field" name="lname">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Password</label>
                        <input id="pass" maxlength="15" type="number" placeholder="Password" name="pass">
                        <b></b>
                        <span></span>
                    </div>
                </div>
                <div class="mod-login-col2" style="width: 400px;">
                     <div >
                        <label >Type of staff</label>
                        {{#if layoutVM.type}}
                       
                            <td>
                            <input type="radio" id='M' data-meta="Field" name="type" value=3 style="height:15px; width:15px; vertical-align: middle;">
                            <label for='M'>Nhân viên kho</label>
                            <input type="radio" id='F' data-meta="Field" name="type" value=1 style="height:15px; width:15px; vertical-align: middle;">
                            <label for='F'>Nhân viên quản lý kho</label>
                            </td>
                            <b></b>
                            <span></span>
                        {{else}}
                            <td>
                            <input type="radio" id='M' data-meta="Field" name="type" value=1 style="height:15px; width:15px; vertical-align: middle;">
                            <label for='M'>Nhân viên quản lý kho</label>
                            <input type="radio" id='F' data-meta="Field" name="type" value=0 style="height:15px; width:15px; vertical-align: middle;">
                            <label for='F'>Nhân viên trung tâm</label>
                            </td>
                            <b></b>
                            <span></span>
                        </div>
                        {{/if}}
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Mã số kho</label>
                        <input id="makho" maxlength="10" type="number" placeholder="Mã kho" name="makho">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Number Phone</label>
                        <input id="phone" maxlength="15" type="number" placeholder="Số điện thoại" name="phone">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Email</label>
                        <input id="mail" type="email" placeholder="Email" name="email"data-meta="Field">
                        <b></b>
                        <span></span>
                    </div>
                    
                </div>
                <div class="form-row subscribe-outer" style="width: 18%;margin-left: 100px">
                    <button type="submit" class="button-default ygradient1 ">Thêm nhân viên</button>
                </div>
                </div>
            </div>
        </form>
<a href="managestaff" style="width: 8%;margin-left: 380px" class="btn btn-info" role="button">Hoàn Thành</a>
</div>

