<div class="container">
    <div class="row">
            <div>
                <a href="addstaff">Thêm nhân viên kho</a>
            </div>
    </div>
    <a href="task" class="btn btn-info" role="button">Hoàn Thành</a>
</div>