 {{#section 'js'}}
<script type="text/javascript">
    var validate = function () {
        if ($('#txtUsername').val().length === 0) {
            alert('Vui lòng nhập tên đăng nhập');
            return false;
        }
        if ($('#txtPWD').val().length < 6) {
            alert('Mật khẩu ít nhất 6 kí tự');
            return false;
        }
        if ($('#txtPWD').val() !== $('#txtCPWD').val()) {
            alert('2 mật khẩu không trùng nhau');
            return false;
        }
        if ($('#lname').val().length === 0){
            alert('Vui lòng nhập đầy đủ họ và tên');
            return false;
        }
        if ($('#miname').val().length === 0) {
            alert('Vui lòng nhập đầy đủ họ và tên');
            return false;
        }
        if ($('#fname').val().length === 0) {
            alert('Vui lòng nhập đầy đủ họ và tên');
            return false;
        }
        if ($('#addr').val().length ===0){
            alert('Vui lòng nhập địa chỉ liên lạc');
            return false;
        }
        if ($('#phone').val().length ===0){
            alert('Vui lòng nhập số điện thoại liên lạc');
            return false;
        }
        if ($('#mail').val().length ===0){
            alert('Vui lòng nhập email');
            return false;
        }
        return true;
    }
</script> 

{{/section}} {{#if showError}}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error!</strong> {{errorMsg}}
</div>
{{/if}} {{#if Success}}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Success!</strong> {{Msg}}
</div>
{{/if}}


<div class="login">
    <div class="login-title" style="margin-left: 370px">

        <h3>Tạo tài khoản BookStore</h3>
        <div class="login-other" style="margin-right: 300px;margin-top: -23px">
            <span>Đã là thành viên?
                <a href="login">Đăng nhập</a> tại đây</span>
        </div>
    </div>
    <div>
        <form action="" method="POST" role="form" onsubmit="return validate();">
            <div class="mod-login">
                <div class="mod-login-col1" style="width: 350px;">
                    <div class="mod-input mod-login-input-email mod-input-email">
                        <label>Tên đăng nhập</label>
                        <input id="txtUsername" type="text" placeholder="Tên đăng nhập" name="username">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-input-password mod-login-input-password mod-input-password">
                        <label>Mật khẩu</label>
                        <input id="txtPWD" type="password" placeholder="Tối thiểu 6 kí tự bao gồm cả chữ và số" data-meta="Field" name="pass">
                        <b></b>
                        <span></span>

                    </div>
                    <div class="mod-input mod-input-password mod-login-input-re-password mod-input-re-password">
                        <label>Nhập lại mật khẩu</label>
                        <input id="txtCPWD" type="password" placeholder="Vui lòng nhập lại mật khẩu" data-meta="Field" name="repass">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>First name</label>
                        <input id="fname" type="text" placeholder="Tên" data-meta="Field" name="fname">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Midle name</label>
                        <input id="miname" type="text" placeholder="Tên lót" data-meta="Field" name="miname">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Last name</label>
                        <input id="lname" type="text" placeholder="Họ" data-meta="Field" name="lname">
                        <b></b>
                        <span></span>
                    </div>
                </div>
                <div class="mod-login-col2" style="width: 350px;">
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label for="birthday">Birthday</label>
                        <input type="date" id="birthday" name="dob">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label >Sex</label>
                        <td>
                        <input type="radio" id='M' data-meta="Field" name="sex" value='M' style="height:15px; width:15px; vertical-align: middle;">
                        <label for='M'>Nam</label>
                        <input type="radio" id='F' data-meta="Field" name="sex" value='F' style="height:15px; width:15px; vertical-align: middle;">
                        <label for='F'>Nữ</label>
                        </td>
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Địa chỉ</label>
                        <input id="addr" type="text" placeholder="Địa chỉ" data-meta="Field" name="address">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Số điện thoại</label>
                        <input id="phone" maxlength="15" type="number" placeholder="Số điện thoại" name="phone">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-login-input-name mod-input-name">
                        <label>Email</label>
                        <input id="mail" type="email" placeholder="Email" name="email"data-meta="Field">
                        <b></b>
                        <span></span>
                    </div>
                    
                </div>
                <div class="form-row subscribe-outer" style="width: 18%;margin-left: 100px">
                    <button type="submit" class="button-default ygradient1 ">ĐĂNG KÝ</button>
                </div>

            </div>
        </form>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
