.jcarousel-wrapper{
  margin-top:20px;
  margin-left:0px;
  position:relative;
  border:10px solid #fff;
  width:100%;
  height:152px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 2px #999;
  -moz-box-shadow:0 0 2px #e35c5c;
  box-shadow:0 0 2px #f77070;
  background-color:rgb(255,192,233);
}

.jcarousel{
  position:relative;
  overflow:hidden;
}

.jcarousel ul{
  width:10000em;
  position:relative;
  list-style:none;
  margin:0;
  padding:0;
}

.jcarousel li{
  float:left;
  width:85px;
  height:100px;
  margin-right:48px;
}

.jcarousel img{
  max-height:79px;
}

.jcarousel .loading{
  text-align:center;
  line-height:90px;
}

.jcarousel-control-prev, .jcarousel-control-next{
  position:absolute;
  top:35px;
  width:30px;
  height:30px;
  text-align:center;
  background:#4E443C;
  color:#fff;
  text-decoration:none;
  text-shadow:0 0 1px #000;
  font:24px/27px Arial, sans-serif;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
  -webkit-box-shadow:0 0 2px #999;
  -moz-box-shadow:0 0 2px #999;
  box-shadow:0 0 2px #999;
}

.jcarousel-control-prev{
  left:-50px;
}

.jcarousel-control-next{
  right:-50px;
}

.jcarousel-control-prev:hover span, .jcarousel-control-next:hover span{
  display:block;
}

.jcarousel-control-prev.inactive, .jcarousel-control-next.inactive{
  opacity:.5;
  cursor:default;
}

