<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Bạn có chắc chắn muốn xóa thông tin sách này khỏi danh sách không?</h3>
        </div>

        <div class="">
            <a href="./">
                <button style="margin-left:400px;margin-top: 20px" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </a>

            <form action="" method="POST" role="form" style="margin-left:500px;margin-top: -34px;margin-bottom: 18px">
                <input type="hidden" id="" name="idSach" value="{{idSach}}">
                <button type="submit" class="btn btn-danger">
                    Okay
                </button>
            </form>
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>-->

        </div>
    </div>
</div>
<!--</div>-->