<div class="container">
    <div class="row">
            <div>
                <a href="author">cập nhật thông tin tác giả</a>
            </div>
            <div>
                <a href="addkho">cập nhật thông tin kho</a>
            </div>
    </div>
    <a href="task" class="btn btn-info" role="button">Hoàn Thành</a>
</div>