{{#if showError}}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error!</strong> {{errorMsg}}
</div>
{{/if}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="dashboard pundefined">Dashboard </h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="book" class="linkDash">
                                        <img alt src="/img/dashboard/icon-48-stats.png" />
                                        <span style="display: block;">Quản lý sản phẩm</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="managestaff" class="linkDash">
                                        <img alt src="/img/dashboard/icon-48-survey.png" />
                                        <span style="display: block;">Quản lý Nhân viên</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="bsource" class="linkDash">
                                        <img alt src="/img/dashboard/icon-48-user.png" />
                                        <span style="display: block;">Quản lý tác giả và nhà xuất bản</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="donhang" class="linkDash">
                                        <img alt src="/img/dashboard/icon-48-study.png" />
                                        <span style="display: block;">Quản lý đơn hàng</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="kho" class="linkDash">
                                        <img alt src="/img/dashboard/icon-48-study.png" />
                                        <span style="display: block;">Quản lý Kho</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="profile" class="linkDash">
                                        <img alt src="/img/dashboard/icon-48-category.png" />
                                        <span style="display: block;">Thông tin cá nhân</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        {{!-- <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="souce" class="linkDash">
                                        <img alt src="/img/dashboard/icon-48-category.png" />
                                        <span style="display: block;" class="f1"> Quản lý tác giả và nhà xuất bản</span>
                                    </a>                                      
                                </div>
                            </div> 
                        </div> --}}
                        {{!-- <div class="col-md-2">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a class="linkDash">
                                        <img alt src="/img/dashboard/dangxuat.png" style="width: 50px;height: 50px;" />
                                        <span style="display: block;">Thoát</span>
                                    </a>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>